<div id="bigbox">
  	<div id="bigboxinsideimagebox">
	<%= image_tag @photo.image_url(:detail).to_s%>
	</div>
</div>

<div id="ImageDetailBox">
	<div id="ImageDetailBoxWords">
	<p>
<b>Tag:</b>
  <%= @photo.gettag %>
</p>
	<p>
<b>Detail:</b>
  <%= @photo.detail %>
</p>
	</div>
<div id="ImageDetailBoxCommentMakeBox" >
	 <% if @photo.user_id == session[:user_id] %>
		<div id="ImageDetailBoxCommentEditbutton">
			<a href="/photos/<%=@photo.id%>/edit" class="button blue">
			Edit
			</a>	
		</div>	
	<% end %>

	<%= form_tag "/comments/new/"+@photo.id.to_s do %>

		<div id="ImageDetailBoxCommentMakeBoxInput" >
        <div class="field">
            <input id="commentcontent" name="commentcontent" class="roundedbig" placeholder="Leave any comments? " size="30" type="text" />
        </div> 
        </div> 
        <div id="ImageDetailBoxCommentMakeBoxButton" >
        <button class="action green" >
           	<span class="label">
           		Comment
           	</span>
               
        </button>
        </div> 	
		
    <% end %>

   
</div>



</div>


<div id="CommentBox">	
	<% @comments.each do |comment|%>
		<% @commentUser = User.find_by_id(comment.user_id) %>
		<div id="ListBoxLong">	
			<div id="ListBoxAvantar">	
				<%= image_tag @commentUser.image_url(:tinythumb).to_s%>
			</div>
		</div>
		<div id="CommentBoxUsername">
			<b><%= @commentUser.username %></b>          said at <%= comment.created_at %>
		</div>
		<div id="CommentBoxEmail">
			<%= comment.content %>
		</div>
	<% end %>
</div>

