<div id="noticebox" >
    <b>
    Found <%=@users.count.to_s%> users and <%=@photos.count.to_s%> pictures
  </b>
</div>
<div id="bigbox">
  
<div id="insideboxleft">



<% @users.each do |user| %>
  <div id="listbox">
   <a href = "/users/<%=user.id%>">
    <div id="listboxavantar">
      <%= image_tag user.image_url(:tinythumb).to_s%>
    </div>
    </a>
    
    <div id="listboxname">
    <p>
    <%= user.username %>
    </p>
    </div>
    <div id="listboxemail">
    <p>
    <%= user.email %>
    </p>
    </div>

    <% if @user.hasFollowedHim(user.id) %>
      <div id="listboxbuttons">
        <a href="/follows/destroy/<%=user.id%>" class="button red">
            Unfollow
        </a>
       </div>
    <% else %>
      <div id="listboxbuttons">
        <a href="/follows/new/<%=user.id%>" class="button blue">
            Follow
        </a>
       </div>
    <% end %>

  </div>
<% end %>

<br />
</div>

<div id="insideboxright">
<div id="container">
        <% if @photos != nil%>
      <% for @photo in @photos %>
            <div class = "item">
                <a href="photos/<%=@photo.id%>">
                  <div class = "itemimage">
                  <%= image_tag @photo.image_url(:thumb).to_s %>
                  </div>
                </a>
            </div>
          <% end %>
        <% end %>

  </div>



</div>
</div>


<script > 
var $container = $('#container');
$container.imagesLoaded(function(){
  $container.masonry({
    itemSelector : '.item',
    columnWidth : 240
  });
});
</script>